@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
body {
    max-width: 1600px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: chocolate;
}

nav a {
    text-align: center;
    background-color: rgb(34, 152, 207);
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-family: 'Klee One', cursive;
    padding: 10px;
}

#logo_link {
    padding-top: 5px;
}

h1,
h2 {
    font-family: 'Galindo', cursive;
    margin: 0;
}

h4 {
    text-align: center;
    color: beige;
    font-family: 'Klee One', cursive;
}

#hero-img {
    width: 100px;
}

.botton-box {
    text-align: center;
}

header {
    background-color: rgb(199, 121, 43);
}

nav a:hover {
    background-color: rgb(17, 17, 16);
    color: goldenrod;
    text-decoration: underline;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.home-title {
    color: blanchedalmond;
    font-family: 'Glass Antiqua', cursive;
    padding: 15px 30px;
    margin-top: 10px;
}

.book {
    background-color: blanchedalmond;
    color: rgb(7, 7, 7);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: brown;
    color: rgb(205, 255, 224);
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: chocolate;
    color: rgb(14, 13, 13);
}

.join:hover {
    background-color: darkgoldenrod;
    color: rgb(73, 73, 100);
}

.msg {
    background-color: rgb(221, 185, 185);
    padding: 35px;
}

.msg h2 {
    color: rgb(8, 8, 8);
    font-family: 'Poor Story', cursive;
}

.msg p {
    color: rgb(31, 30, 30);
    padding-bottom: 15px;
}

.camping-card,
.rapids-card,
.rivers-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #c2a175;
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

#background {
    height: 750px;
    background-color: rgb(104, 79, 79);
}

p {
    font-family: 'Otomanopee One', sans-serif;
}

footer {
    background-color: darkorange;
    color: beige;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: aliceblue;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

footer a:hover {
    color: rgb(173, 151, 151);
}

#hero-img {
    width: 100%;
}
